
:root { 

    --primary    : #8A4D76;
    --primary-text    : white;

    /*--primary    : #006064;*/

    --link    : hsl(217, 71%, 53%);
   
       

}




.menu-list a {  
  color: var(--primary-text);
}


.navbar-link.is-active {
  background-color:  var(--link);
  color: white;
}


a.navbar-item:hover {
  /*background-color:  #0a0a0a ;*/
  color: var(--link);
}


/*
.input:focus  {  
  border-color: hsl(171, 100%, 41%);
}
*/